.square .token.baron:before {
  background-image: url("../img/icon-baron.png");
}
.square .token.baron:after {
  content: "Baron";
}

.square .reminder.baron:before {
  background-image: url("../img/icon-baron.png");
}

.square .token.butler:before {
  background-image: url("../img/icon-butler.png");
}
.square .token.butler:after {
  content: "Butler";
}

.square .reminder.butler:before {
  background-image: url("../img/icon-butler.png");
}

.square .token.chef:before {
  background-image: url("../img/icon-chef.png");
}
.square .token.chef:after {
  content: "Chef";
}

.square .reminder.chef:before {
  background-image: url("../img/icon-chef.png");
}

.square .token.drunk:before {
  background-image: url("../img/icon-drunk.png");
}
.square .token.drunk:after {
  content: "Drunk";
}

.square .reminder.drunk:before {
  background-image: url("../img/icon-drunk.png");
}

.square .token.empath:before {
  background-image: url("../img/icon-empath.png");
}
.square .token.empath:after {
  content: "Empath";
}

.square .reminder.empath:before {
  background-image: url("../img/icon-empath.png");
}

.square .token.fortuneteller:before {
  background-image: url("../img/icon-fortuneteller.png");
}
.square .token.fortuneteller:after {
  content: "Fortune Teller";
}

.square .reminder.fortuneteller:before {
  background-image: url("../img/icon-fortuneteller.png");
}

.square .token.imp:before {
  background-image: url("../img/icon-imp.png");
}
.square .token.imp:after {
  content: "Imp";
}

.square .reminder.imp:before {
  background-image: url("../img/icon-imp.png");
}

.square .token.investigator:before {
  background-image: url("../img/icon-investigator.png");
}
.square .token.investigator:after {
  content: "Investigator";
}

.square .reminder.investigator:before {
  background-image: url("../img/icon-investigator.png");
}

.square .token.librarian:before {
  background-image: url("../img/icon-librarian.png");
}
.square .token.librarian:after {
  content: "Librarian";
}

.square .reminder.librarian:before {
  background-image: url("../img/icon-librarian.png");
}

.square .token.mayor:before {
  background-image: url("../img/icon-mayor.png");
}
.square .token.mayor:after {
  content: "Mayor";
}

.square .reminder.mayor:before {
  background-image: url("../img/icon-mayor.png");
}

.square .token.monk:before {
  background-image: url("../img/icon-monk.png");
}
.square .token.monk:after {
  content: "Monk";
}

.square .reminder.monk:before {
  background-image: url("../img/icon-monk.png");
}

.square .token.poisoner:before {
  background-image: url("../img/icon-poisoner.png");
}
.square .token.poisoner:after {
  content: "Poisoner";
}

.square .reminder.poisoner:before {
  background-image: url("../img/icon-poisoner.png");
}

.square .token.recluse:before {
  background-image: url("../img/icon-recluse.png");
}
.square .token.recluse:after {
  content: "Recluse";
}

.square .reminder.recluse:before {
  background-image: url("../img/icon-recluse.png");
}

.square .token.ravenkeeper {
  font-size: 80%;
}
.square .token.ravenkeeper:before {
  background-image: url("../img/icon-ravenkeeper.png");
}
.square .token.ravenkeeper:after {
  content: "Ravenkeeper";
}

.square .reminder.ravenkeeper:before {
  background-image: url("../img/icon-ravenkeeper.png");
}

.square .token.saint:before {
  background-image: url("../img/icon-saint.png");
}
.square .token.saint:after {
  content: "Saint";
}

.square .reminder.saint:before {
  background-image: url("../img/icon-saint.png");
}

.square .token.slayer:before {
  background-image: url("../img/icon-slayer.png");
}
.square .token.slayer:after {
  content: "Slayer";
}

.square .reminder.slayer:before {
  background-image: url("../img/icon-slayer.png");
}

.square .token.soldier:before {
  background-image: url("../img/icon-soldier.png");
}
.square .token.soldier:after {
  content: "Soldier";
}

.square .reminder.soldier:before {
  background-image: url("../img/icon-soldier.png");
}

.square .token.spy:before {
  background-image: url("../img/icon-spy.png");
}
.square .token.spy:after {
  content: "Spy";
}

.square .reminder.spy:before {
  background-image: url("../img/icon-spy.png");
}

.square .token.scarletwoman:before {
  background-image: url("../img/icon-scarletwoman.png");
}
.square .token.scarletwoman:after {
  content: "Scarlet Woman";
}

.square .reminder.scarletwoman:before {
  background-image: url("../img/icon-scarletwoman.png");
}

.square .token.undertaker {
  font-size: 85%;
}
.square .token.undertaker:before {
  background-image: url("../img/icon-undertaker.png");
}
.square .token.undertaker:after {
  content: "Undertaker";
}

.square .reminder.undertaker:before {
  background-image: url("../img/icon-undertaker.png");
}

.square .token.virgin:before {
  background-image: url("../img/icon-virgin.png");
}
.square .token.virgin:after {
  content: "Virgin";
}

.square .reminder.virgin:before {
  background-image: url("../img/icon-virgin.png");
}

.square .token.washerwoman {
  font-size: 75%;
}
.square .token.washerwoman:before {
  background-image: url("../img/icon-washerwoman.png");
}
.square .token.washerwoman:after {
  content: "Washerwoman";
}

.square .reminder.washerwoman:before {
  background-image: url("../img/icon-washerwoman.png");
}

/*# sourceMappingURL=roles.css.map */
