$roles:
  'baron',
  'butler',
  'chef',
  'drunk',
  'empath',
  'fortuneteller' 80%,
  'imp',
  'investigator',
  'librarian',
  'mayor',
  'monk',
  'poisoner',
  'recluse',
  'ravenkeeper' 80%,
  'saint',
  'slayer',
  'soldier',
  'spy',
  'scarletwoman' 75%,
  'undertaker' 85%,
  'virgin',
  'washerwoman' 75%;

@each $img, $fontsize in $roles {
  .token.#{$img} {
    &:before {
      background-image: url('../assets/icons/#{$img}.png');
    }
    font-size: $fontsize;
  }

  .reminder.#{$img}:before {
    background-image: url('../assets/icons/#{$img}.png');
  }
}
