$token: 150px;
$townsfolk: #1f65ff;
$outsider: #46d5ff;
$minion: #ff6900;
$demon: #ff0000;
$traveller: #cc04ff;

$roles:
  'good',
  'evil',
  'baron',
  'butler',
  'chef',
  'drunk',
  'empath',
  'fortuneteller' 80%,
  'imp',
  'investigator',
  'librarian',
  'mayor',
  'monk',
  'poisoner',
  'recluse',
  'ravenkeeper' 80%,
  'saint',
  'slayer',
  'soldier',
  'spy',
  'scarletwoman' 75%,
  'undertaker' 85%,
  'virgin',
  'harlot',
  'washerwoman' 75%;

