$token: 150px;
$townsfolk: #1f65ff;
$outsider: #46d5ff;
$minion: #ff6900;
$demon: #ce0100;
$traveler: #cc04ff;

$editions:
  'tb',
  'bmr',
  'snv',
  'luf'
;

$roles:
  'apprentice',
  'artist',
  'assassin',
  'barber',
  'barista',
  'baron',
  'beggar',
  'bishop',
  'bonecollector' 75%,
  'bureaucrat',
  'butcher',
  'butler',
  'cerenovus',
  'chambermaid' 90%,
  'chef',
  'clockmaker',
  'courtier',
  'deviant',
  'devilsadvocate' 70%,
  'dreamer',
  'drunk',
  'empath',
  'evil',
  'eviltwin',
  'exorcist',
  'fanggu',
  'flowergirl',
  'fool',
  'fortuneteller' 80%,
  'gambler',
  'godfather',
  'good',
  'goon',
  'gossip',
  'grandmother' 90%,
  'gunslinger',
  'harlot',
  'imp',
  'innkeeper',
  'investigator',
  'judge',
  'juggler',
  'klutz',
  'librarian',
  'lunatic',
  'mastermind',
  'mathematician' 80%,
  'matron',
  'mayor',
  'minstrel',
  'monk',
  'moonchild',
  'mutant',
  'nodashii',
  'oracle',
  'pacifist',
  'philosopher',
  'pithag',
  'po',
  'poisoner',
  'professor',
  'pukka',
  'ravenkeeper' 80%,
  'recluse',
  'sage',
  'sailor',
  'saint',
  'savant',
  'scapegoat',
  'scarletwoman' 75%,
  'seamstress',
  'shabaloth',
  'slayer',
  'snakecharmer' 75%,
  'soldier',
  'spy',
  'sweetheart',
  'tealady',
  'thief',
  'tinker',
  'towncrier',
  'undertaker' 85%,
  'vigormortis',
  'virgin',
  'vortox',
  'voudon',
  'washerwoman' 75%,
  'witch',
  'zombuul',
  'amnesiac',
  'cannibal',
  'fisherman',
  'balloonist',
  'goblin',
  'widow',
  'leviathan'
;

